.home{
    width: auto;
    height: 800px;
    border-radius: 0px 0px 40px 40px;
    background: var(--hero-section, #204959);
    overflow: hidden;
}

.home-img{
    
}
.conteiner{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    display: flex;
}
.home-img-conteiner{
    max-width: 1920px;
    position: relative;
    height: 1000px;
    /* overflow: visible;
    overflow: hidden;
    top: -850px; */
    
}
.home-img {
    width: 523.951px;
    height: 649.276px;
    background-image: url(/static/img/icons.png) ;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    left: 200px;
    top: 40px;
    
}

.home-content{
    padding-top: 136px;
    padding-bottom: 277px;
    padding-left: 13%;
    

}

.home-content h1{
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 620px;
    height: auto;
    line-height: 145.4%;
}

.home-content p:nth-child(1){
    border-radius: 10px;
    background: #3C6373;
    width: 165px;
    text-align: center;
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 145.4%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home-content p:nth-child(3){
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.9%;
    padding-top: 45px;
    padding-bottom: 45px;
}

.home-content-btn button:nth-child(1){
    width: 205px;
    height: 62px;
    background: #C7A48B;
    margin-right: 20px;

}
.home-content-btn button:nth-child(1):hover{
    background: #A97957;
    
}
.home-content-btn button:nth-child(2){
    width: 170px;
    height: 62px;
    border: 1px solid #C7C7C7;
}
.home-content-btn button:nth-child(2):hover{
    background: #C7A48B;
}
.home-content-btn button{
    border-radius: 60px;
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
}

@media(max-width:1550px){
    .home-img{
        left: 50px;
    }
}
@media(max-width:1350px){
    .home-img{
        left: -100px;
    }
}

@media(max-width:1300px){
    .home-content{
        padding-left: 7%;
        max-width: 600px;
    }

    .home-img{
        left: -120px;
    }
}

@media(max-width:930px){
    .home-img{
        left: -490px;
        top: 280px;
        z-index: 0;
        background-image: url(/static/img/icons.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 523.951px;
        height: 649.276px;
    }
    .home-content{
        position: relative;
        z-index: 1;
        padding-top: 36px;
    }
}

@media(max-width:660px){
    .home-content h1{
        font-size: 30px;
    }
    .home-content p:nth-child(3){
        font-size: 16px;

    }

}
@media(max-width:490px){
    .home-content h1{
        font-size: 25px;
    }
    .home-content p:nth-child(3){
        font-size: 14px;

    }
    .home-content-btn button:nth-child(2){
        width: 125px;
    }
    .home-content-btn button:nth-child(1){
        width: 155px;
    }
    .home-content-btn button{
        font-size: 14px;
    }
    .home{
        height: 600px;
    }
    
}